header {
   display: none;

  
}



@media screen and (min-width: 1024px) {
 header{
  position: sticky;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  height: 30px;
  padding: 0 32px 28px 32px;
    margin-bottom: 180px;
  }
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: nowrap;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;

  margin-left: auto;
  margin-right: 40px;

  column-gap: 20px;
  padding: 23px 40px;

  border-radius: 13px;
  background: var(--bg-secondary);
}

.social-links-list {
  display: flex;
  justify-content: end;
  align-items: baseline;
  flex-wrap: nowrap;

  column-gap: 20px;
}

.logo-link {
  width: 30px;
  height: 30px;
  margin-right: auto;
}

.icon-logo {
  width: 30px;
  height: 30px;
}
