/* Мобильные телефоны от 320px и выше */
@media screen and (min-width: 320px) {
  .projects-list {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;

    flex-wrap: wrap;

  }
}

/* Планшеты от 768px */
@media screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;

    column-gap: 50px;
    row-gap: 40px;
  }
}

/* Десктопы от 1024px */
@media screen and (min-width: 1024px) {
  .projects-list {
    column-gap: 100px;
    row-gap: 70px;
  }
}

.projects-item {
  width: 260px;
  

    background-color: var(--project-bg);
border-radius: 20px;

    padding-bottom: 15px;

}

.projects-img {
  width: 260px;
  height: 370x;
  border-top-left-radius: 20px;
border-top-right-radius: 20px;

margin-bottom: 17px;
}

.projects-item-wpapper {
  padding: 5px 15px;
  height: 310px;


  
}

.project-title {
  text-align: center;

  margin-bottom: 14px;
  
  white-space: nowrap;
  overflow: hidden;

}

.project-descr {
    display: -webkit-box;
  -webkit-line-clamp: 5; /* Количество отображаемых строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:left;

  margin-bottom: 12px;

}

.project-stack {
  text-align: start;
      font-size: 1rem;

      margin-bottom: 15px;


}

.project-stack span{
        font-size: 0.8rem;

}

.project-link-list {
  display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
flex-wrap: nowrap;
      gap: 0.5rem; 

}

.project-link-item {
    font-size: 0.8rem;
        text-align: center;


}

.project-icon {
  width: 20px;
  height: 20px;
}

 /* По умолчанию показываем иконку для тёмной темы */
.icon-light {
  display: inline;
}
.icon-dark {
  display:  none;
}

/* Когда светлая тема — меняем иконку */
@media (prefers-color-scheme: light) {
  .icon-light {
    display: none;
  }
  .icon-dark {
    display: inline;
  }
}
