aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: calc(2rem + 12px);

  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);

  overflow: hidden;

  height: 100vh;
  padding: 1rem;

  transition: 0.2s ease-in-out;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1024px) {
  aside {
    display: none;
  }
}

aside .logo-link {
  margin: 0;
}

aside .icon-logo {
  width: 30px;
  height: 30px;
}

.menu-toggle-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  position: relative;
  top: 0;
  transition: 0.2s ease-in-out;

  padding: 0;
}

aside .menu-toggle {
  transition: 0.2s ease-in-out;
  background: none;
  border: none;
  outline: none;

  width: 40px;
  height: 40px;

  margin-top: 10px;
}

aside .menu-toggle:hover,
aside .menu-toggle:focus,
aside .menu-toggle:focus-visible {
  background: none;
  border: none;
  outline: none;
}

.double-arrow-icon {
  fill: var(--sidebar-text);
  transition: 0.2s ease-out;

  width: 30px;
  height: 30px;
}

.double-arrow-icon:hover {
  fill: var(--sidebar-text-hover);
  transform: translateX(0.5rem);
}

.double-arrow-icon:focus {
  outline: none;
}

.sidebar-nav-list .text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-title {
  color: var(--accent-color2);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.sidebar-nav-list {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;
}

aside .sidebar-nav-item {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;

  text-decoration: none;

  transition: 0.2s ease-in-out;
  padding: 0;

  width: 100%;

  height: 50px;

  margin-top: 10px;
}

.sidebar-nav-item .link:hover {
  background-color: var(--sidebar-hover); /* 🔥 не на li, а на a */
}

.sidebar-nav-item .link {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-items: end;
  justify-content: center;
  text-align: center;

  padding: 0.5rem 1rem;
}

aside .sidebar-icon {
  font-size: 2rem;
  transition: 0.2s ease-in-out;

  width: 20px;
  height: 20px;

  fill: var(--sidebar-text);

  flex-shrink: 0;
}

aside .text {
  display: none;
}

.sidebar-nav-item:hover .sidebar-icon {
  color: var(--accent-color1);
}

/* Расширенный сайдбар */
aside.is-expanded {
  width: 200px;
}

aside.is-expanded .menu-toggle-wrap {
  top: -3rem;
}

aside.is-expanded .menu-toggle {
  transform: rotate(-180deg);
}

aside.is-expanded .text {
  opacity: 1;

  display: inline;
  color: var(--sidebar-text);
  transition: 0.2s ease-in-out;
}

aside.is-expanded .double-arrow-icon {
  margin-right: 1rem;
}

aside.is-expanded .sidebar-icon {
  margin-left: 1rem;

  margin-right: 1rem;
}

aside.is-expanded .sidebar-nav-item {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
  box-sizing: border-box;

  height: 36px;
}

aside.is-expanded .sidebar-nav-item .link {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  justify-content: flex-start;
}

.sidebar-theme-toggle {
  display: none;
}

aside.is-expanded .sidebar-theme-toggle {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
