/* .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-github-icon-light {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-logo {
  width: 32px;
  height: 32px;
  background-position: -36px 0;
}
.icon-react-icon {
  width: 32px;
  height: 32px;
  background-position: -72px 0;
}
.icon-github-icon-dark {
  width: 32px;
  height: 32px;
  background-position: -108px 0;
}
.icon-css-icon {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-html-icon {
  width: 32px;
  height: 32px;
  background-position: -180px 0;
}
.icon-js-icon {
  width: 32px;
  height: 32px;
  background-position: -216px 0;
}
.icon-vscode-icon {
  width: 32px;
  height: 32px;
  background-position: -252px 0;
}
 */
