@import url("./header.css");
@import url("./hero.css");
@import url("./technologies.css");
@import url("./projects.css");
@import url("./contacts.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
    font-size: clamp(14px, 1.5vw, 18px);  /* адаптивный размер шрифта:
    - минимум 14px (на маленьких экранах)
    - 1.5vw — это 1.5% от ширины экрана (динамический размер)
    - максимум 18px (на больших экранах)
    Таким образом, 1rem будет автоматически меняться от 14px до 18px в зависимости от ширины экрана.
  */

}

#app {
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  max-width: 1280px;

  box-sizing: border-box;
}

/* Мобильные телефоны от 320px и выше */
@media screen and (min-width: 320px) {
  #app {
    padding: 2rem 1.5rem;
  }
}

/* Планшеты от 768px */
@media screen and (min-width: 768px) {
  #app {
    padding: 3rem 2rem;
  }
}

/* Десктопы от 1024px */
@media screen and (min-width: 1024px) {
  #app {
    padding: 4rem 6rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1rem;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p{
  font-size: 1.125rem;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 2rem; 
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

section{
  margin-bottom: 20px;
}

.section-title{
    margin-bottom: 20px;

}

.sectiom-descr{
      margin-bottom: 10px;

}
